@import url("https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.font-volkhov {
  font-family: "Volkhov", serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.subscribe-banner {
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  overflow: visible;
}

.subscribe-banner .travel-icon {
  top: -30px;
  right: -20px;
}